[input_file_path]
word2vec_bin_path=/home/dongkuiyao/dl_project/sentiment_analysis/word2vec_model/news_12g_baidubaike_20g_novel_90g_embedding_64.bin
word2vec_npy_path=/home/dongkuiyao/dl_project/sentiment_analysis/word2vec_model/news_12g_baidubaike_20g_novel_90g_embedding_64.model.syn0.npy
neg_file_path=/home/dongkuiyao/dl_project/sentiment_analysis/train_corpus/neg_corpus/
pos_file_path=/home/dongkuiyao/dl_project/sentiment_analysis/train_corpus/pos_corpus/
stopwords_path=/home/dongkuiyao/dl_project/sentiment_analysis/train_corpus/stopwords.txt

[threshold_parameter]
most_percentage=0.001

[word2vec_parameter]
dimension=64
word_embedding_store_path =/home/dongkuiyao/dl_project/sentiment_analysis/wordembeddings/
labels_path = /home/dongkuiyao/dl_project/sentiment_analysis/wordembeddings/labels.txt
total_comment_matrix_path = /home/dongkuiyao/dl_project/sentiment_analysis/wordembeddings/total_comment_matrix.txt

[output_file_path]
total_comment_matrix=/home/dongkuiyao/dl_project/sentiment_analysis/train_corpus/comment_matrix.npy
model=models/pretrained_lstm.ckpt

[lstm_hyperparameter]
l2_regularizer=0.6
predict_batch_size=1
batch_size=512
lstm_units=32
num_classes=2
output_keep_prob=0.65
iteration=3000
test_iteration=2
learning_rate=0.001
layers_num=2

[sentiment_analysis_server]
flask_host=192.168.52.222
flask_port=7330
get_predict_string= pre_string